html {
  height: 100%;
  width: 100%;
  font-family: "Georgia", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(rgb(121, 174, 223), rgb(180, 28, 211));
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #333;
  background: linear-gradient(rgb(121, 174, 223), rgb(180, 28, 211));
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  margin: 10px;
  border: 2px solid #333;
  background: rgba(139, 185, 236, 0.331);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}